.card {
    max-width: 20rem;
    padding: 1rem;
    background-color: $White;
    border-radius: 1rem;
    font-family: $font-family;

    .cardImage {
        border-radius: 0.5rem;
        width: 100%;
        height: auto;
    }

    .cardContent{
        margin: 1rem 1rem;
    }

    .cardTitle {
        font-weight: 700;
        color: $Dark-blue;
        font-size: 1.375rem;
        margin:1rem 0;
    }

    .cardParagraph {
        font-weight: 400;
        color: $Grayish-blue;
        font-size: $font-size-paragraph;
    }
}